# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and output directories
esm_hf_peft_3di_ckpts/
checkpoints/
*.pt
*.pth
*.ckpt

# Data files (uncomment if you don't want to track data)
# *.fasta
# *.fa
# data/

# Logs
*.log

# PyTorch
*.tar.gz

**.fa

dongwook_proteos/all_clades_db
dongwook_proteos/all_clades_db_3di.fasta
dongwook_proteos/all_clades_db_aa.fasta
dongwook_proteos/all_clades_db_h
dongwook_proteos/all_clades_db_h.dbtype
dongwook_proteos/all_clades_db_h.index
dongwook_proteos/all_clades_db_ss
dongwook_proteos/all_clades_db_ss.dbtype
dongwook_proteos/all_clades_db_ss.index
dongwook_proteos/all_clades_db.dbtype
dongwook_proteos/all_clades_db.index
dongwook_proteos/all_proteos.fasta
proteomes/all_ribo_db
proteomes/all_ribo_db_3di.fasta
proteomes/all_ribo_db_aa.fasta
proteomes/all_ribo_db_h
proteomes/all_ribo_db_h.dbtype
proteomes/all_ribo_db_h.index
proteomes/all_ribo_db_ss
proteomes/all_ribo_db_ss.dbtype
proteomes/all_ribo_db_ss.index
proteomes/all_ribo_db.dbtype
proteomes/all_ribo_db.index
proteomes/all_ribo.fasta
proteomes/ribo_fasta.zip
proteomes/ribo_fasta/UP000000348.fa
proteomes/ribo_fasta/UP000000349.fa
proteomes/ribo_fasta/UP000000354.fa
proteomes/ribo_fasta/UP000000733.fa
proteomes/ribo_fasta/UP000000734.fa
proteomes/ribo_fasta/UP000000832.fa
proteomes/ribo_fasta/UP000000835.fa
proteomes/ribo_fasta/UP000001051.fa
proteomes/ribo_fasta/UP000001119.fa
proteomes/ribo_fasta/UP000001674.fa
proteomes/ribo_fasta/UP000001675.fa
proteomes/ribo_fasta/UP000001677.fa
proteomes/ribo_fasta/UP000002239.fa
proteomes/ribo_fasta/UP000002472.fa
proteomes/ribo_fasta/UP000002610.fa
proteomes/ribo_fasta/UP000006574.fa
proteomes/ribo_fasta/UP000006687.fa
proteomes/ribo_fasta/UP000006707.fa
proteomes/ribo_fasta/UP000006712.fa
proteomes/ribo_fasta/UP000006713.fa
proteomes/ribo_fasta/UP000006717.fa
proteomes/ribo_fasta/UP000006719.fa
proteomes/ribo_fasta/UP000006720.fa
proteomes/ribo_fasta/UP000007192.fa
proteomes/ribo_fasta/UP000007253.fa
proteomes/ribo_fasta/UP000007451.fa
proteomes/ribo_fasta/UP000007552.fa
proteomes/ribo_fasta/UP000007616.fa
proteomes/ribo_fasta/UP000007662.fa
proteomes/ribo_fasta/UP000007663.fa
proteomes/ribo_fasta/UP000007664.fa
proteomes/ribo_fasta/UP000008158.fa
proteomes/ribo_fasta/UP000008588.fa
proteomes/ribo_fasta/UP000008772.fa
proteomes/ribo_fasta/UP000009255.fa
proteomes/ribo_fasta/UP000029756.fa
proteomes/ribo_fasta/UP000095968.fa
proteomes/ribo_fasta/UP000099533.fa
proteomes/ribo_fasta/UP000101546.fa
proteomes/ribo_fasta/UP000101879.fa
proteomes/ribo_fasta/UP000102095.fa
proteomes/ribo_fasta/UP000103080.fa
proteomes/ribo_fasta/UP000103430.fa
proteomes/ribo_fasta/UP000106311.fa
proteomes/ribo_fasta/UP000108888.fa
proteomes/ribo_fasta/UP000109464.fa
proteomes/ribo_fasta/UP000109776.fa
proteomes/ribo_fasta/UP000111110.fa
proteomes/ribo_fasta/UP000111928.fa
proteomes/ribo_fasta/UP000111934.fa
proteomes/ribo_fasta/UP000112279.fa
proteomes/ribo_fasta/UP000113498.fa
proteomes/ribo_fasta/UP000114561.fa
proteomes/ribo_fasta/UP000115085.fa
proteomes/ribo_fasta/UP000117356.fa
proteomes/ribo_fasta/UP000118514.fa
proteomes/ribo_fasta/UP000119730.fa
proteomes/ribo_fasta/UP000120691.fa
proteomes/ribo_fasta/UP000121369.fa
proteomes/ribo_fasta/UP000122426.fa
proteomes/ribo_fasta/UP000125413.fa
proteomes/ribo_fasta/UP000130686.fa
proteomes/ribo_fasta/UP000130696.fa
proteomes/ribo_fasta/UP000131152.fa
proteomes/ribo_fasta/UP000133552.fa
proteomes/ribo_fasta/UP000141413.fa
proteomes/ribo_fasta/UP000143088.fa
proteomes/ribo_fasta/UP000145727.fa
proteomes/ribo_fasta/UP000146054.fa
proteomes/ribo_fasta/UP000146415.fa
proteomes/ribo_fasta/UP000147186.fa
proteomes/ribo_fasta/UP000148232.fa
proteomes/ribo_fasta/UP000148249.fa
proteomes/ribo_fasta/UP000151058.fa
proteomes/ribo_fasta/UP000151562.fa
proteomes/ribo_fasta/UP000152374.fa
proteomes/ribo_fasta/UP000152684.fa
proteomes/ribo_fasta/UP000153628.fa
proteomes/ribo_fasta/UP000154153.fa
proteomes/ribo_fasta/UP000154472.fa
proteomes/ribo_fasta/UP000154509.fa
proteomes/ribo_fasta/UP000155518.fa
proteomes/ribo_fasta/UP000156352.fa
proteomes/ribo_fasta/UP000156811.fa
proteomes/ribo_fasta/UP000157362.fa
proteomes/ribo_fasta/UP000158204.fa
proteomes/ribo_fasta/UP000160764.fa
proteomes/ribo_fasta/UP000162623.fa
proteomes/ribo_fasta/UP000163854.fa
proteomes/ribo_fasta/UP000164199.fa
proteomes/ribo_fasta/UP000164342.fa
proteomes/ribo_fasta/UP000164702.fa
proteomes/ribo_fasta/UP000165031.fa
proteomes/ribo_fasta/UP000166209.fa
proteomes/ribo_fasta/UP000167590.fa
proteomes/ribo_fasta/UP000168127.fa
proteomes/ribo_fasta/UP000171565.fa
proteomes/ribo_fasta/UP000172221.fa
proteomes/ribo_fasta/UP000172234.fa
proteomes/ribo_fasta/UP000172887.fa
proteomes/ribo_fasta/UP000174044.fa
proteomes/ribo_fasta/UP000201276.fa
proteomes/ribo_fasta/UP000201347.fa
proteomes/ribo_fasta/UP000201363.fa
proteomes/ribo_fasta/UP000201382.fa
proteomes/ribo_fasta/UP000201418.fa
proteomes/ribo_fasta/UP000201450.fa
proteomes/ribo_fasta/UP000201481.fa
proteomes/ribo_fasta/UP000201545.fa
proteomes/ribo_fasta/UP000201555.fa
proteomes/ribo_fasta/UP000201558.fa
proteomes/ribo_fasta/UP000201659.fa
proteomes/ribo_fasta/UP000201750.fa
proteomes/ribo_fasta/UP000201791.fa
proteomes/ribo_fasta/UP000201837.fa
proteomes/ribo_fasta/UP000201867.fa
proteomes/ribo_fasta/UP000201896.fa
proteomes/ribo_fasta/UP000202024.fa
proteomes/ribo_fasta/UP000202423.fa
proteomes/ribo_fasta/UP000202496.fa
proteomes/ribo_fasta/UP000202675.fa
proteomes/ribo_fasta/UP000202712.fa
proteomes/ribo_fasta/UP000202715.fa
proteomes/ribo_fasta/UP000202728.fa
proteomes/ribo_fasta/UP000202810.fa
proteomes/ribo_fasta/UP000202842.fa
proteomes/ribo_fasta/UP000202863.fa
proteomes/ribo_fasta/UP000202874.fa
proteomes/ribo_fasta/UP000202877.fa
proteomes/ribo_fasta/UP000203017.fa
proteomes/ribo_fasta/UP000203081.fa
proteomes/ribo_fasta/UP000203107.fa
proteomes/ribo_fasta/UP000203162.fa
proteomes/ribo_fasta/UP000203192.fa
proteomes/ribo_fasta/UP000203270.fa
proteomes/ribo_fasta/UP000203299.fa
proteomes/ribo_fasta/UP000203393.fa
proteomes/ribo_fasta/UP000203551.fa
proteomes/ribo_fasta/UP000203679.fa
proteomes/ribo_fasta/UP000203827.fa
proteomes/ribo_fasta/UP000203837.fa
proteomes/ribo_fasta/UP000203852.fa
proteomes/ribo_fasta/UP000204080.fa
proteomes/ribo_fasta/UP000204084.fa
proteomes/ribo_fasta/UP000204133.fa
proteomes/ribo_fasta/UP000204277.fa
proteomes/ribo_fasta/UP000204347.fa
proteomes/ribo_fasta/UP000204414.fa
proteomes/ribo_fasta/UP000204532.fa
proteomes/ribo_fasta/UP000204677.fa
proteomes/ribo_fasta/UP000208098.fa
proteomes/ribo_fasta/UP000217264.fa
proteomes/ribo_fasta/UP000217341.fa
proteomes/ribo_fasta/UP000232618.fa
proteomes/ribo_fasta/UP000232681.fa
proteomes/ribo_fasta/UP000232682.fa
proteomes/ribo_fasta/UP000232757.fa
proteomes/ribo_fasta/UP000232786.fa
proteomes/ribo_fasta/UP000232845.fa
proteomes/ribo_fasta/UP000232880.fa
proteomes/ribo_fasta/UP000232887.fa
proteomes/ribo_fasta/UP000234780.fa
proteomes/ribo_fasta/UP000234913.fa
proteomes/ribo_fasta/UP000235077.fa
proteomes/ribo_fasta/UP000240302.fa
proteomes/ribo_fasta/UP000241860.fa
proteomes/ribo_fasta/UP000243013.fa
proteomes/ribo_fasta/UP000246735.fa
proteomes/ribo_fasta/UP000266127.fa
proteomes/ribo_fasta/UP000274817.fa
proteomes/ribo_fasta/UP000280633.fa
proteomes/ribo_fasta/UP000288904.fa
proteomes/ribo_fasta/UP000290719.fa
proteomes/ribo_fasta/UP000297009.fa
proteomes/ribo_fasta/UP000297055.fa
proteomes/ribo_fasta/UP000306652.fa
proteomes/ribo_fasta/UP000464024.fa
proteomes/ribo_fasta/UP000500822.fa
proteomes/ribo_fasta/UP000501046.fa
proteomes/ribo_fasta/UP000501449.fa
proteomes/ribo_fasta/UP000501480.fa
proteomes/ribo_fasta/UP000501748.fa
proteomes/ribo_fasta/UP000502003.fa
proteomes/ribo_fasta/UP000502187.fa
proteomes/ribo_fasta/UP000502394.fa
proteomes/ribo_fasta/UP000502674.fa
proteomes/ribo_fasta/UP000676181.fa
proteomes/ribo_fasta/UP000676204.fa
proteomes/ribo_fasta/UP000676981.fa
proteomes/ribo_fasta/UP000678011.fa
proteomes/ribo_fasta/UP000678595.fa
proteomes/ribo_fasta/UP000829831.fa
proteomes/ribo_fasta/UP000830412.fa
proteomes/ribo_fasta/UP000830446.fa
proteomes/ribo_fasta/UP000830920.fa
proteomes/ribo_fasta/UP000887920.fa
proteomes/ribo_fasta/UP001054874.fa
proteomes/ribo_fasta/UP001055065.fa
proteomes/ribo_fasta/UP001055392.fa
proteomes/ribo_fasta/UP001157328.fa
proteomes/ribo_fasta/UP001157422.fa
proteomes/ribo_fasta/UP001246087.fa
proteomes/ribo_fasta/UP001267755.fa
tensorboard_logs/run_20251205_222807/events.out.tfevents.1764970087.dmoi-WS-C621E-SAGE-Series.15112.0
tensorboard_logs/run_20251208_103530/events.out.tfevents.1765186530.dmoi-WS-C621E-SAGE-Series.23510.0
tensorboard_logs/run_20251210_133829/events.out.tfevents.1765370309.dmoi-WS-C621E-SAGE-Series.31843.0
tensorboard_logs/run_20251210_134011/events.out.tfevents.1765370411.dmoi-WS-C621E-SAGE-Series.31878.0
tensorboard_logs/run_20251210_134125/events.out.tfevents.1765370485.dmoi-WS-C621E-SAGE-Series.31911.0
tensorboard_logs/run_20251210_135944/events.out.tfevents.1765371584.dmoi-WS-C621E-SAGE-Series.32685.0
tensorboard_logs/run_20251210_140326/events.out.tfevents.1765371806.dmoi-WS-C621E-SAGE-Series.32750.0
tensorboard_logs/run_20251210_140403/events.out.tfevents.1765371843.dmoi-WS-C621E-SAGE-Series.32815.0
tensorboard_logs/run_20251210_140547/events.out.tfevents.1765371947.dmoi-WS-C621E-SAGE-Series.32883.0
tensorboard_logs/run_20251210_140708/events.out.tfevents.1765372028.dmoi-WS-C621E-SAGE-Series.32950.0
tensorboard_logs/run_20251210_140727/events.out.tfevents.1765372047.dmoi-WS-C621E-SAGE-Series.33015.0
tensorboard_logs/run_20251210_140757/events.out.tfevents.1765372077.dmoi-WS-C621E-SAGE-Series.33080.0
tensorboard_logs/run_20251210_140918/events.out.tfevents.1765372158.dmoi-WS-C621E-SAGE-Series.33145.0
tensorboard_logs/run_20251210_140934/events.out.tfevents.1765372174.dmoi-WS-C621E-SAGE-Series.33210.0
tensorboard_logs/run_20251210_141051/events.out.tfevents.1765372251.dmoi-WS-C621E-SAGE-Series.33277.0
tensorboard_logs/run_20251210_155223/events.out.tfevents.1765378343.dmoi-WS-C621E-SAGE-Series.34320.0
tensorboard_logs/run_20251210_162416/events.out.tfevents.1765380256.dmoi-WS-C621E-SAGE-Series.36050.0
tensorboard_logs/run_20251210_162510/events.out.tfevents.1765380310.dmoi-WS-C621E-SAGE-Series.36149.0
tensorboard_logs/run_20251210_162536/events.out.tfevents.1765380336.dmoi-WS-C621E-SAGE-Series.36248.0
tensorboard_logs/run_20251210_162557/events.out.tfevents.1765380357.dmoi-WS-C621E-SAGE-Series.36348.0
tensorboard_logs/run_20251210_163509/events.out.tfevents.1765380909.dmoi-WS-C621E-SAGE-Series.36595.0
tensorboard_logs/run_20251210_163545/events.out.tfevents.1765380945.dmoi-WS-C621E-SAGE-Series.36693.0
tensorboard_logs/run_20251210_163745/events.out.tfevents.1765381065.dmoi-WS-C621E-SAGE-Series.36790.0
tensorboard_logs/run_20251210_163908/events.out.tfevents.1765381148.dmoi-WS-C621E-SAGE-Series.37026.0
tensorboard_logs/run_20251210_163926/events.out.tfevents.1765381166.dmoi-WS-C621E-SAGE-Series.37123.0
tensorboard_logs/run_20251210_164146/events.out.tfevents.1765381306.dmoi-WS-C621E-SAGE-Series.37224.0
tensorboard_logs/run_20251210_164203/events.out.tfevents.1765381323.dmoi-WS-C621E-SAGE-Series.37309.0
tensorboard_logs/run_20251210_164226/events.out.tfevents.1765381346.dmoi-WS-C621E-SAGE-Series.37374.0
tensorboard_logs/run_20251210_164248/events.out.tfevents.1765381368.dmoi-WS-C621E-SAGE-Series.37465.0
tensorboard_logs/run_20251210_165458/events.out.tfevents.1765382098.dmoi-WS-C621E-SAGE-Series.37713.0
tensorboard_logs/run_20251210_165531/events.out.tfevents.1765382131.dmoi-WS-C621E-SAGE-Series.37823.0
tensorboard_logs/run_20251210_170055/events.out.tfevents.1765382455.dmoi-WS-C621E-SAGE-Series.37988.0
tensorboard_logs/run_20251210_170112/events.out.tfevents.1765382472.dmoi-WS-C621E-SAGE-Series.38085.0
tensorboard_logs/run_20251210_170129/events.out.tfevents.1765382489.dmoi-WS-C621E-SAGE-Series.38183.0
